body {
    margin: 30px;
    background : linear-gradient(white ,blueviolet 50%);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
     
}
        img {
            width: 300px;
            height: 150px;
            border-radius: 20px;
            float:center;
         
           
            object-fit:cover;
        }
        #main-image{
           width :300px;
           height: 300px;
           border-radius:50px;
           float :center; 
           margin-left:auto;
           margin-right:auto;
           object-fit:cover;
            display:block;
        }

        .username{
        border-style:inset;
        border-width: 2px;
        border-color: blueviolet;
        border-radius: 5px;
        padding:5px;
        font-family:"Montserrat", sans-serif;
        font-weight:light;
        font-size : 20px;
        font-style:sans-serif;
    }
em{
    color:white;
    font-style:italic;
}

.headerfont{
    margin-top:30px;
    font-family: "Lato", sans-serif;
    font-style:italic;
    color:indigo;
    font-size:30px;

}

#maintitle{
    font-family: "Press Start 2P", cursive;
    font-style:italic;
    color:indigo;
    font-size:30px;
    border-bottom-style: double;
    border-width:5px;
    padding-bottom:3px;
    border-radius:8px;
    

}
 #Finaltext{font-family: "Press Start 2P", cursive;
    font-style:italic;
    color:indigo;
    font-size:30px;
    border-bottom-style: double;
    border-width:5px;
    padding-bottom:3px;
    border-radius:8px;
 }
 

.shadow {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    color: white;
    background-color: indigo;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.shadow:hover {
    background-color: blueviolet;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}